.vs/weather-monitor/v15/Server/sqlite3/db.lock
.vs/weather-monitor/v15/.suo
.vs/weather-monitor/v15/Server/sqlite3/storage.ide
.vs/weather-monitor/v15/Server/sqlite3/storage.ide-shm
.vs/weather-monitor/v15/Server/sqlite3/storage.ide-wal
weather-monitor/Properties/PublishProfiles/FunctionApp20181126045200 - Web Deploy.pubxml
weather-monitor/Properties/PublishProfiles/FolderProfile.pubxml
